/* You can add global styles to this file, and also import other style files */

@use './styles/variable.css';
@use './styles/reset.css';
@use '../node_modules/xterm/css/xterm.css';

* {
  background-color: var(--color-background);
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}