/* You can add global styles to this file, and also import other style files */

@use './styles/variable.css';
@use './styles/reset.css';
@use '../node_modules/xterm/css/xterm.css';

html,
body {
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.2;
}

.xterm-dom-renderer-owner-1 .xterm-rows {
  font-family: unset !important;
}
